* {
  box-sizing: border-box;
  font-family: Poppins;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo-account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  border-radius: 50%;
  background: linear-gradient(238.08deg, #A248D9 -25.15%, #ECCDFF 127.57%);
}

.logo-account:hover, .logo-account:focus {
  border: 1px solid #A248D9;
  background: #A248D9;
}

.logo-name {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.05em;
}

.header {
  background: url(../image/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 160px;
  color: white;
}

.header-top {
  justify-content: space-between;
  margin-bottom: 130px;
}

.header__logotop {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav {
  display: flex;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.header__nav__item {
  margin-right: 50px;
  margin-top: 15px;
}

.header__nav__item:hover, .header__nav__item:focus {
  color: #9224D6;
}

.header__nav__button {
  padding: 9px 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  height: 40px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}

.header__nav__button:hover, .header__nav__button:focus {
  background: #9224D6;
  border: 1px solid #9224D6;
}

.header__author {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-right: 35px;
}

.header__author__name::after {
  content: ".";
  position: absolute;
  top: -5px;
  left: 120%;
}

.header__title {
  margin-top: 19px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  line-height: 70px;
}

.header__info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}

.header__main__button {
  padding: 13px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  min-width: 175px;
  height: 46px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  margin-bottom: 60px;
}

.header__main__button:hover, .header__main__button:focus {
  background: #9224D6;
  border: 1px solid #9224D6;
}

.header__main__button__left {
  margin-right: 8px;
  background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
}

.header__main__button__left:hover, .header__main__button__left:focus {
  background: #9224D6;
  border: 1px solid #9224D6;
}

.header__main__photo {
  position: relative;
}

.header__main__photo__1 {
  position: absolute;
  bottom: -20px;
  left: 125px;
}

.header__main__photo__2 {
  position: absolute;
  right: -30px;
  top: 100px;
}

.header__main__photo__3 {
  position: absolute;
  left: 65px;
}

.header__main__photo:before {
  content: "";
  position: absolute;
  right: 115px;
  top: -45px;
  width: 160px;
  height: 160px;
  background: linear-gradient(220.4deg, #AB69FF -24.24%, #BE9AED 129%);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 0px;
}

.header__main__photo::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -95px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FF8E8E;
}

.header__main__photo__dekor1 {
  position: absolute;
  bottom: -10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #FFD646;
}

.header__main__photo__dekor2 {
  position: absolute;
  bottom: -45px;
  right: 90px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #8FDEFF;
}

.header__contacts__title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
}

.header__icons__img {
  margin-right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .header__main__photo__1, .header__main__photo__2, .header__main__photo__3, .header__main__photo__4, .header__main__photo__dekor1, .header__main__photo__dekor2 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header-top {
    margin-bottom: 50px;
  }
  .header__logotop {
    margin-bottom: 20px;
  }
  .header-nav {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    padding-left: 0;
  }
  .header__nav__item {
    margin-right: 35px;
  }
  .header__nav__button {
    padding: 9px 25px;
    font-size: 11px;
    line-height: 16px;
  }
  .header__main__photo::after {
    display: none;
  }
  .header__main__photo::before {
    right: -25px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-bottom: 70px;
  }
  .header-nav {
    flex-wrap: wrap;
  }
  .header__nav__item {
    font-size: 11px;
    line-height: 15px;
    margin-right: 20px;
  }
  .header__author {
    font-size: 11px;
    line-height: 15px;
  }
  .header__info {
    font-size: 11px;
    line-height: 15px;
  }
  .header__main__photo::before {
    display: none;
  }
  .header__main__button__left {
    margin-bottom: 20px;
  }
  .header__title {
    font-size: 45px;
    line-height: 40px;
  }
  .header__icons {
    display: flex;
    flex-wrap: wrap;
  }
  .header__icons__img {
    margin-bottom: 10px;
  }
}

.main {
  padding-top: 100px;
  padding-bottom: 50px;
}

.main-titlewrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 60px;
}

.main-title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
}

.main-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #9224D6;
}

.main__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main__card {
  padding: 1px;
  width: 420px;
  margin-bottom: 60px;
  border: none;
  cursor: pointer;
}

.main__card__img {
  width: 100%;
  max-height: 310px;
}

.main__card__ratingwrap {
  position: relative;
  margin-bottom: 25px;
}

.main__card__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 55px;
  background-color: #1C1B1E;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  border-radius: 10px 0px;
}

.main__card__namewrap {
  margin-bottom: 15px;
}

.main__card__name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.main__card__name__author {
  position: relative;
  margin-right: 28px;
}

.main__card__name__author::after {
  content: ".";
  position: absolute;
  top: -5px;
  left: 120%;
}

.main__card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.main__card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 19px;
}

.main__card__timewrap {
  display: flex;
  justify-content: space-between;
}

.main__card__playwrap {
  display: flex;
}

.main__card__play {
  min-width: 150px;
  margin-left: 5px;
  color: #9224D6;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.main__card__play:hover, .main__card__play:focus {
  color: #580c87;
}

@media screen and (max-width: 1400px) {
  .main__card {
    width: 350px;
  }
}

@media screen and (max-width: 1200px) {
  .main-titlewrap {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .main__card {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .main__card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main {
    padding-bottom: 0;
  }
  .main-titlewrap {
    flex-direction: column;
    align-items: center;
  }
  .main__row {
    width: 100%;
    margin: auto;
  }
  .main__card__text, .main__card__name {
    font-size: 11px;
    line-height: 15px;
  }
}

.article__row {
  display: flex;
  justify-content: space-between;
}

.article__imgwrap {
  position: relative;
}

.article__circle {
  position: absolute;
  border-radius: 50%;
}

.article__circle__1 {
  width: 135px;
  height: 135px;
  background-color: #FFD646;
  left: -10%;
  top: -10%;
  z-index: -1;
}

.article__circle__2 {
  width: 105px;
  height: 105px;
  background-color: #8FDEFF;
  right: 4%;
  top: -6%;
  z-index: 2;
}

.article__circle__3 {
  width: 35px;
  height: 35px;
  background-color: #FF8E8E;
  right: 0;
  top: 50%;
}

.article__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1px;
  padding-bottom: 1px;
}

.article__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.article__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.article__button {
  padding: 10px 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.05em;
  border: 1px solid #1C1B1E;
  border-radius: 40px;
  background-color: inherit;
  max-width: 155px;
}

.article__button:hover, .article__button:focus {
  background-color: #580c87;
}

@media screen and (max-width: 1200px) {
  .article__title {
    font-size: 35px;
    line-height: 40px;
  }
  .article__text {
    font-size: 16px;
    line-height: 22px;
  }
  .article__circle__2, .article__circle__3 {
    right: -30%;
  }
}

@media screen and (max-width: 992px) {
  .article__imgwrap {
    padding-left: 5%;
    margin-bottom: 30px;
  }
  .article__circle__2 {
    right: 0;
  }
  .article__circle__3 {
    right: 10%;
  }
  .article__info {
    justify-content: center;
  }
  .article__button {
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .article__imgwrap {
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
  .article__photo {
    width: 100%;
  }
  .article__circle {
    display: none;
  }
  .article__title {
    font-size: 20px;
    line-height: 30px;
  }
  .article__text {
    font-size: 11px;
    line-height: 15px;
  }
  .article__button {
    margin-top: 20px;
  }
}

.newslist {
  padding-bottom: 50px;
}

.newslist-titlewrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 50px;
}

.newslist-title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
}

.newslist-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #9224D6;
}

.newslist__cardwrap {
  justify-content: space-between;
}

.newslist__card {
  padding: 1px;
  border: none;
  cursor: pointer;
}

.newslist__card:hover, .newslist__card:focus {
  color: #580c87;
  border-radius: 10px;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
}

.newslist__card__img {
  margin-bottom: 20px;
}

.newslist__card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
}

.newslist__card__epis {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1200px) {
  .newslist-titlewrap {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .newslist__card {
    margin-bottom: 25px;
  }
  .newslist__card__img {
    max-height: 350px;
  }
  .newslist__card__title {
    font-size: 18px;
    line-height: 32px;
  }
}

@media screen and (max-width: 576px) {
  .newslist-titlewrap {
    flex-direction: column;
    align-items: center;
  }
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 430px;
  background-color: #17044D;
  border-radius: 15px;
  color: white;
  overflow: hidden;
}

.search__wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: -25%;
  width: 500px;
  height: 415px;
  border-radius: 50%;
  background: #0EA3E3;
  filter: blur(600px);
  z-index: -1;
}

.search__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: -25%;
  width: 700px;
  height: 570px;
  border-radius: 50%;
  background: #6C22C9;
  filter: blur(400px);
  z-index: -1;
}

.search__title {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 20px;
}

.search__text {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

.search__input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 9px 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px 0 0 5px;
  letter-spacing: 0.05em;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.5);
}

.search__button {
  position: relative;
  padding: 9px 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  height: 40.6px;
  background-color: #9224D6;
  border: 1px solid #9224D6;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: -7px;
}

.search__button:hover, .search__button:focus {
  background-color: #590c89;
}

@media screen and (max-width: 992px) {
  .search__text {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search__wrapper {
    width: 110%;
    margin-left: -5%;
    height: 330px;
  }
  .search__title {
    font-size: 18px;
    line-height: 32px;
  }
  .search__text {
    margin-left: 20px;
    margin-right: 20px;
  }
  .search__input, .search__button {
    font-size: 11px;
    line-height: 16px;
  }
}

@media screen and (max-width: 576px) {
  .search__wrapper {
    width: 100%;
    margin-left: 0;
  }
  .search__title, .search__form {
    margin-left: 20px;
    margin-right: 20px;
  }
  .search__input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .search__button {
    width: 100%;
    margin-left: 0;
  }
}

.footer-row {
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer__account {
  color: white;
}

.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 85px;
}

.footer__icon {
  position: relative;
  margin-right: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: black;
}

.footer__icon:hover, .footer__icon:focus {
  color: #9224D6;
}

.footer__facebook:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 45%;
  left: 95px;
}

.footer__twitter:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 45%;
  left: 75px;
}

.footer__list {
  list-style: none;
}

.footer__list__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 25px;
}

.footer__list__item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 13px;
}

.footer__list__item a {
  color: black;
}

.footer__list__item a:hover, .footer__list__item a:focus {
  color: #9224D6;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
}

.footer__bottom__copy {
  opacity: 0.7;
}

@media screen and (max-width: 992px) {
  .footer-logo {
    margin-bottom: 50px;
  }
  .footer__list {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__text {
    margin-bottom: 40px;
  }
  .footer__bottom, .footer__list__item {
    font-size: 11px;
    line-height: 18px;
  }
}

@media screen and (max-width: 576px) {
  .footer__bottom {
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */