* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.header {
  background: url(../image/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 160px;
  color: white;
}

.header-top {
  justify-content: space-between;
  margin-bottom: 130px;
}

.header__logotop {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  border-radius: 50%;
  background: linear-gradient(238.08deg, #A248D9 -25.15%, #ECCDFF 127.57%);
}

.header__name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav {
  display: flex;
  list-style-type: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.header__nav__item {
  margin-right: 50px;
  margin-top: 15px;
}

.header__nav__button {
  padding: 9px 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  height: 40px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}

.header__author {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-right: 35px;
}

.header__author__name::after {
  content: ".";
  position: absolute;
  top: -5px;
  left: 120%;
}

.header__title {
  margin-top: 19px;
  margin-bottom: 17px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  line-height: 70px;
}

.header__info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}

.header__main__button {
  padding: 13px 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  min-width: 175px;
  height: 46px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  margin-bottom: 60px;
}

.header__main__button__left {
  margin-right: 8px;
  background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
}

.header__main__photo {
  position: relative;
}

.header__main__photo__1 {
  position: absolute;
  bottom: -20px;
  left: 125px;
}

.header__main__photo__2 {
  position: absolute;
  right: -30px;
  top: 100px;
}

.header__main__photo__3 {
  position: absolute;
  left: 65px;
}

.header__main__photo:before {
  content: "";
  position: absolute;
  right: 115px;
  top: -45px;
  width: 160px;
  height: 160px;
  background: linear-gradient(220.4deg, #AB69FF -24.24%, #BE9AED 129%);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 0px;
}

.header__main__photo::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -95px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #FF8E8E;
}

.header__main__photo__dekor1 {
  position: absolute;
  bottom: -10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #FFD646;
}

.header__main__photo__dekor2 {
  position: absolute;
  bottom: -45px;
  right: 90px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #8FDEFF;
}

.header__contacts__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
}

.header__icons__img {
  margin-right: 20px;
}

@media screen and (max-width: 1400px) {
  .header__main__photo__1, .header__main__photo__2, .header__main__photo__3, .header__main__photo__4, .header__main__photo__dekor1, .header__main__photo__dekor2 {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header-top {
    margin-bottom: 50px;
  }
  .header__logotop {
    margin-bottom: 20px;
  }
  .header-nav {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    padding-left: 0;
  }
  .header__nav__item {
    margin-right: 35px;
  }
  .header__nav__button {
    padding: 9px 25px;
    font-size: 11px;
    line-height: 16px;
  }
  .header__main__photo::after {
    display: none;
  }
  .header__main__photo::before {
    right: -25px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding-bottom: 70px;
  }
  .header-nav {
    flex-wrap: wrap;
  }
  .header__nav__item {
    font-size: 11px;
    line-height: 15px;
    margin-right: 20px;
  }
  .header__author {
    font-size: 11px;
    line-height: 15px;
  }
  .header__info {
    font-size: 11px;
    line-height: 15px;
  }
  .header__main__photo::before {
    display: none;
  }
  .header__main__button__left {
    margin-bottom: 20px;
  }
  .header__title {
    font-size: 45px;
    line-height: 40px;
  }
  .header__icons {
    display: flex;
    flex-wrap: wrap;
  }
  .header__icons__img {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */