.header
  background: url(../image/header-bg.jpg)
  background-repeat: no-repeat
  background-size: cover
  padding-top: 40px
  padding-bottom: 160px

  &-top
    justify-content: space-between
    margin-bottom: 130px

  &__logotop
    display: flex
    align-items: center
    cursor: pointer

  &__account
    display: flex
    justify-content: center
    align-items: center
    margin-right: 20px
    width: 50px
    height: 50px
    font-family: Poppins
    font-style: normal
    font-weight: 500
    font-size: 25px
    line-height: 37px
    border-radius: 50%
    color: white
    background: linear-gradient(238.08deg, #A248D9 -25.15%, #ECCDFF 127.57%)

  &__name
    font-family: Poppins
    font-style: normal
    font-weight: 500
    font-size: 25px
    line-height: 37px
    color: white

  &-nav
    display: flex
    justify-content: flex-end
    align-items: center

  &__nav
    display: flex
    list-style-type: none
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 21px
    color: white
    cursor: pointer

    &__item
      margin-right: 50px
      margin-top: 15px

    &__button
      padding: 9px 35px
      font-family: Poppins
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 21px
      height: 40px
      background-color: inherit
      border: 1px solid white
      border-radius: 30px
      color: white
