.main
  padding-top: 100px

  &-title
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 35px
    line-height: 52px

  &-view
    display: flex
    align-items: center
    justify-content: flex-end
    font-family: Poppins
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    text-decoration: none
    color: #9224D6

  &__row
    display: flex
    justify-content: space-between

  &__card
    padding: 1px
    width: 420px
    //border: none
